body {
	background-color: #FFF;
}

#menu {
	display: none;
}

.pattern {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 45px;
	display: block;
	border-bottom: 2px solid #000;
	background-color: #FFF;
}

#conteudo {
	clear: both;
	margin-top: 50px;
	z-index: -1;
	-webkit-transition: all 250ms ease-in-out;  
	-moz-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}

#conteudo.conteudo_ativo{
	margin-top: 200px;
}

nav[role=navigation] ul {
	position: absolute;
	right: 10px;
}

nav[role=navigation] ul li {
	display: inline;
	padding: 5px
}

nav[role=navigation] ul li a {
	text-decoration: none;
}


@media screen 
    and (min-width: 320px) 
    and (max-width:  640px) {

    #menu {
    	display: block;
    	position: absolute;
    	top: 5px;
    	right: 6px;
		width: 30px;
		height: 30px;
		border-radius: 5px;
		border: 2px solid #000;
	}

	#menu:hover {
		cursor: pointer;
	}

	#menu span {
		background-color: #000;
		-webkit-transition: all 400ms ease-in-out;
		        transition: all 400ms ease-in-out;
	}

	#menu span:nth-child(1) {
		display: block;
		position: relative;
		border-radius: 6px;
		border: 1px solid #000;
		top: 7px;
		left: 4px;
		width: 65%;
		height: 1px;
	}

	#menu span:nth-child(2) {
		display: block;
		position: relative;
		border-radius: 6px;
		border: 1px solid #000;
		top: 10px;
		left: 4px;
		width: 65%;
		height: 1px;
	}

	#menu span:nth-child(3) {
		display: block;
		position: relative;
		border-radius: 6px;
		border: 1px solid #000;
		top: 13px;
		left: 4px;
		width: 65%;
		height: 1px;
	}


	#menu span.active:nth-child(1) {
		display: block;
		position: relative;
		top: 13px;
		left: 4px;
		-webkit-transform: rotate(45deg);
      	    -ms-transform: rotate(45deg);
                transform: rotate(45deg);
		
	}

	#menu span.active:nth-child(2) {
		display: none;
		
	}

	#menu span.active:nth-child(3) {
		display: block;
		position: relative;
		top: 11px;
		left: 4px;
		-webkit-transform: rotate(-45deg);
      	    -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
	}
	
	nav[role=navigation] ul {
		visibility: hidden;
		position: relative;
		opacity: 0;
		left: 0;
		top: 31px;
		width: 100%;
		padding-left: 0;
		clear: both;
		max-height: 0em;
		background-color: #000;
		-webkit-transition: all 250ms ease-in-out;  
		-moz-transition: all 250ms ease-in-out;
		-ms-transition: all 250ms ease-in-out;
		-o-transition: all 250ms ease-in-out;
		transition: all 250ms ease-in-out;
	}

	nav[role=navigation] ul.active {
		visibility: visible;
		opacity: 1;
		max-height: 15em;
	}

	nav[role=navigation] ul li {
		display: block;
		position: relative;
		width: 100%;
		left: 0;
		padding: 5px;
		border-bottom: 1px solid #FFF;
	}

	nav[role=navigation] ul li a {
		color: #FFF;
	}


}